.rex-slice {
	.block-peek-wrapper {
		position: relative;
		border-radius: 4px;
		width: 100%;
		min-height: var(--block-peek-min-height, 300px);
		overflow: hidden;
	}

	.block-peek-iframe {
		--size: calc(1 / var(--block-peek-zoom-factor, 0.5) * 100%);
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(var(--block-peek-zoom-factor, 0.5));
		transform-origin: 0 0;
		width: var(--size);
		max-width: none;
		height: var(--size);
		overflow: hidden;
		pointer-events: none;
	}
}
